<div class="row">
    <div class="col-md-offset-2 col-md-8 col-offset-2">
        <div class="row"><h1 id="joblistingheadertxt" style="text-align:center">Cities</h1></div>
        <div class="row">
            <ul>
                <li ng-repeat="city in controller.cities">
                    <div class="row">
                        {{city.name}}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{city.description}}
                        </div>
                        <div class="col-md-4">

                            <img ng-src="{{city.pictureUrl}}" id="cityimage" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

