.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#navbar{
    background-color: #8DBCE0;
}

#navbar1>ul>li>a {
    font-family: sans-serif;
    text-decoration: none; /* no underline */
    color: black;
}

a {
  
}

#footer {
   position:fixed;
   left:0;
   bottom:0;
   height:30px;
   width:100%;
   background:#999;
   text-align:center;
}

ul
{
    list-style-type: none;
}

#articlelist {
    margin: 15px 15px 15px 15px;
}

#jobimage {
    height: 200px;
    width: auto;
    border-radius:3px;
}